.mail{
  overflow: auto;
  background-color: #41843f;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.5);
  border: 15px solid blue;
  border-radius: 15px;
  border-color: #41843f;
  position: fixed;
  bottom:10px;
  right: 10px;
}

ul#list-nav {
  margin:20px;
  padding:0;
  list-style:none;
  width:525px;
}

ul#list-nav li {
  display:inline
}

ul#list-nav li a {
 text-decoration:none;
 padding:5px 0;
 width:100px;
 background:#485e49;
 color:#eee;
 float:left;
 text-align:center;
 border-left:1px solid #fff;
}
